# MacOS
.DS_Store

# Default TypeSpec output
tsp-output/
dist/

# Dependency directories
node_modules/

# TypeScript Compiler output
*.js
!jest.config.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out


postCreateCommand.local.sh
